<html>
<head>
<title>A very simple SPA in Vue and Axios</title>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="Itemlist">
    <button v-on:click="choice=1">students</button>
    <button v-on:click="choice=2">advisors</button>
    <span v-if="choice === 1">
        <ul>
        <div v-for="student in students">
            <li>{{student.name}}, {{advisors[student.advisor_id-1].name}}</li>
        </div>
        </ul>
    </span>
    <span v-else-if="choice === 2">
        <ul>
        <div v-for="advisor in advisors">
            <li>{{advisor.name}}</li>
            <!-- might be cleaner to filter... -->
            <div v-for="student in students">
                <span v-if="student.advisor_id === advisor.id">
                    {{ student.name }}
                </span>
            </div>
        </div>
        </ul>
    </span>
    <span v-else>Nothing selected</span>
</div>

<script type="text/javascript">
let ItemsVue = new Vue({
    el: '#Itemlist',
    data: { students: [],
        choice: 1,
        advisors: [] },
    mounted: function() {
        axios.get('http://localhost:3000/students.json')
            .then(response => { this.students = response.data })
            .catch(error => { console.log(error); });
        axios.get('http://localhost:3000/advisors.json')
            .then(response => { this.advisors = response.data })
            .catch(error => { console.log(error); });
    }
});
</script>

</body>
</html>
